<?xml version="1.0" encoding="utf-8"?>
<site name="后台站点" template="默认模板方案" rootPath="singnocms">
  <!-- name 对应站点名称 -->
  <!-- templeteProjectName 对应站点模板方案名称 -->
  <templates>
    <template name="默认模板方案" folder="newSkin">
      <!--后台首页-->
      <file name="index" path="@/newSkin/Template/default.ascx" pagePath="@/default.aspx" />
      <!--登陆-->
      <file name="inc_login" path="@/newSkin/Template/inc/inc_login.ascx" pagePath="@/newSkin/inc/inc_login.aspx" />
	   <file name="inc_common" path="@/newSkin/Template/inc/inc_common.ascx" pagePath="@/newSkin/inc/inc_common.aspx" />
      <!--开始界面-->
      <file name="main" path="@/newSkin/Template/main.ascx" pagePath="@/newSkin/main.aspx" />
      <file name="init" path="@/newSkin/Template/init.ascx" pagePath="@/newSkin/init.aspx" />
	  <file name="classDate" path="@/newSkin/Template/inc/classDate.ascx" pagePath="@/newSkin/inc/classDate.aspx" />
      <!--模型管理-->
      <file name="model_action" path="@/newSkin/Template/Model/Model_action.ascx" pagePath="@/newSkin/Model/Model_action.aspx" />
      <file name="model_add" path="@/newSkin/Template/Model/Model_addModel.ascx" pagePath="@/newSkin/Model/Model_addModel.aspx" />
      <file name="model_view" path="@/newSkin/Template/Model/Model_manageModel.ascx" pagePath="@/newSkin/Model/Model_manageModel.aspx" />
      <file name="model_viewField" path="@/newSkin/Template/Model/Model_ShowField.ascx" pagePath="@/newSkin/Model/Model_ShowField.aspx" />
      <file name="Model_Manage" path="@/newSkin/Template/Model/Model_ModelManage.ascx" pagePath="@/newSkin/Model/Model_ModelManage.aspx" />
      <file name="Model_AddField" path="@/newSkin/Template/Model/Model_AddField.ascx" pagePath="@/newSkin/Model/Model_AddField.aspx" />
      <file name="Model_AddStyle" path="@/newSkin/Template/Model/Model_AddStyle.ascx" pagePath="@/newSkin/Model/Model_AddStyle.aspx" />
      <file name="Model_setModelPage" path="@/newSkin/Template/Model/Model_setModelPage.ascx" pagePath="@/newSkin/Model/Model_setModelPage.aspx" />
	  <file name="ModelModify" path="@/newSkin/Template/Model/Model_Modify.ascx" pagePath="@/newSkin/Model/Model_Modify.aspx" />
	  <file name="ModelSetValidator" path="@/newSkin/Template/Model/Model_SetValidator.ascx" pagePath="@/newSkin/Model/Model_SetValidator.aspx" />
      <!--栏目管理-->
      <file name="Channel_Action" path="@/newSkin/Template/Channel/Channel_Action.ascx" pagePath="@/newSkin/Channel/Channel_Action.aspx" />
      <file name="AddChannel" path="@/newSkin/Template/Channel/Channel_addChannel.ascx" pagePath="@/newSkin/Channel/Channel_addChannel.aspx" />
      <file name="AddChannelGroup" path="@/newSkin/Template/Channel/Channel_addChannelGroup.ascx" pagePath="@/newSkin/Channel/Channel_addChannelGroup.aspx" />
      <file name="ChannelRecycle" path="@/newSkin/Template/Channel/Channel_ChannelRecycle.ascx" pagePath="@/newSkin/Channel/Channel_ChannelRecycle.aspx" />
      <file name="ManageChannel" path="@/newSkin/Template/Channel/Channel_manageChannel.ascx" pagePath="@/newSkin/Channel/Channel_manageChannel.aspx" />
      <file name="ManageChannelGroup" path="@/newSkin/Template/Channel/Channel_manageChannelGroup.ascx" pagePath="@/newSkin/Channel/Channel_manageChannelGroup.aspx" />
	  <file name="ModifyChannel" path="@/newSkin/Template/Channel/Channel_modifyChannel.ascx" pagePath="@/newSkin/Channel/Channel_modifyChannel.aspx" />
	  <file name="setchannelsort" path="@/newSkin/Template/Channel/Channel_setSort.ascx" pagePath="@/newSkin/Channel/Channel_setSort.aspx" />
	  <file name="ManageGroupnode" path="@/newSkin/Template/Channel/Channel_manageGroupNode.ascx" pagePath="@/newSkin/Channel/Channel_manageGroupNode.aspx" />
      <!--内容管理-->
      <file name="Content_Action" path="@/newSkin/Template/Content/Content_Action.ascx" pagePath="@/newSkin/Content/Content_Action.aspx" />
      <file name="AddContent" path="@/newSkin/Template/Content/Content_AddContent.ascx" pagePath="@/newSkin/Content/Content_AddContent.aspx" />
      <file name="Content_Recycle" path="@/newSkin/Template/Content/Content_Recycle.ascx" pagePath="@/newSkin/Content/Content_Recycle.aspx" />
	   <file name="Content_RecycleFrame" path="@/newSkin/Template/Content/Content_RecycleFrame.ascx" pagePath="@/newSkin/Content/Content_RecycleFrame.aspx" />
      <file name="Content_manage" path="@/newSkin/Template/Content/Content_manage.ascx" pagePath="@/newSkin/Content/Content_manage.aspx" />
      <file name="Content_setAttr" path="@/newSkin/Template/Content/Content_setAttr.ascx" pagePath="@/newSkin/Content/Content_setAttr.aspx" />
	   <file name="Content_manage" path="@/newSkin/Template/Content/Content_manageInfo.ascx" pagePath="@/newSkin/Content/Content_manageInfo.aspx" />
      <file name="Content_showAttr" path="@/newSkin/Template/Content/Content_manageInfoFrame.ascx" pagePath="@/newSkin/Content/Content_manageInfoFrame.aspx" />
	  <file name="Content_addgroup" path="@/newSkin/Template/Content/Content_addContentGroup.ascx" pagePath="@/newSkin/Content/Content_addContentGroup.aspx" />
	  <file name="Content_managegroup" path="@/newSkin/Template/Content/Content_manageContentGroup.ascx" pagePath="@/newSkin/Content/Content_manageContentGroup.aspx" />
	  <file name="Content_managegroupinfo" path="@/newSkin/Template/Content/Content_manageGroupInfo.ascx" pagePath="@/newSkin/Content/Content_manageGroupInfo.aspx" />
	  <file name="Content_managetag" path="@/newSkin/Template/Content/Content_managetag.ascx" pagePath="@/newSkin/Content/Content_managetag.aspx" />
	  <file name="Content_managetaginfo" path="@/newSkin/Template/Content/Content_managetaginfo.ascx" pagePath="@/newSkin/Content/Content_managetaginfo.aspx" />
      <!--模板标签管理-->
      <file name="Template_action" path="@/newSkin/Template/TemplateLabel/Template_action.ascx" pagePath="@/newSkin/TemplateLabel/Template_action.aspx" />
      <file name="addTemplate" path="@/newSkin/Template/TemplateLabel/Template_addTemplate.ascx" pagePath="@/newSkin/TemplateLabel/Template_addTemplate.aspx" />
      <file name="addProject" path="@/newSkin/Template/TemplateLabel/Template_addProject.ascx" pagePath="@/newSkin/TemplateLabel/Template_addProject.aspx" />
      <file name="setCreateRule" path="@/newSkin/Template/TemplateLabel/Template_setCreateRule.ascx" pagePath="@/newSkin/TemplateLabel/Template_setCreateRule.aspx" />
      <file name="createRule" path="@/newSkin/Template/TemplateLabel/Template_createRule.ascx" pagePath="@/newSkin/TemplateLabel/Template_createRule.aspx" />
      <file name="manageLabel" path="@/newSkin/Template/TemplateLabel/Template_manageLabel.ascx" pagePath="@/newSkin/TemplateLabel/Template_manageLabel.aspx" />
      <file name="manageTemplate" path="@/newSkin/Template/TemplateLabel/Template_manageTemplate.ascx" pagePath="@/newSkin/TemplateLabel/Template_manageTemplate.aspx" />
      <file name="matchTemplates" path="@/newSkin/Template/TemplateLabel/Template_matchTemplates.ascx" pagePath="@/newSkin/TemplateLabel/Template_matchTemplates.aspx" />
      <file name="ModifyTemplate" path="@/newSkin/Template/TemplateLabel/Template_ModifyTemplate.ascx" pagePath="@/newSkin/TemplateLabel/Template_ModifyTemplate.aspx" />
      <file name="addLabel" path="@/newSkin/Template/TemplateLabel/Template_addLabel.ascx" pagePath="@/newSkin/TemplateLabel/Template_addLabel.aspx" />
      <file name="manageRule" path="@/newSkin/Template/TemplateLabel/Template_manageRule.ascx" pagePath="@/newSkin/TemplateLabel/Template_manageRule.aspx" />
	  <file name="copy" path="@/newSkin/Template/TemplateLabel/Template_setCopy.ascx" pagePath="@/newSkin/TemplateLabel/Template_setCopy.aspx" />
	   <file name="usertagaction" path="@/newSkin/Template/TemplateLabel/userTag_action.ascx" pagePath="@/newSkin/TemplateLabel/userTag_action.aspx" />
	   <file name="usertagmodify" path="@/newSkin/Template/TemplateLabel/userTag_modify.ascx" pagePath="@/newSkin/TemplateLabel/userTag_modify.aspx" />
	  <file name="copyut" path="@/newSkin/Template/TemplateLabel/UserTag_setCopy.ascx" pagePath="@/newSkin/TemplateLabel/UserTag_setCopy.aspx" />
	   <file name="manageRule" path="@/newSkin/Template/TemplateLabel/Template_manageRuleFrame.ascx" pagePath="@/newSkin/TemplateLabel/Template_manageRuleFrame.aspx" />
	<file name="manageRule" path="@/newSkin/Template/TemplateLabel/Template_manageRuleSet.ascx" pagePath="@/newSkin/TemplateLabel/Template_manageRuleSet.aspx" />
      <!--管理员管理-->
      <file name="AdminUser_action" path="@/newSkin/Template/AdminUser/AdminUser_action.ascx" pagePath="@/newSkin/AdminUser/AdminUser_action.aspx" />
      <file name="addManager" path="@/newSkin/Template/AdminUser/AdminUser_addManager.ascx" pagePath="@/newSkin/AdminUser/AdminUser_addManager.aspx" />
      <file name="manageManager" path="@/newSkin/Template/AdminUser/AdminUser_manageManager.ascx" pagePath="@/newSkin/AdminUser/AdminUser_manageManager.aspx" />
      <file name="manageRole" path="@/newSkin/Template/AdminUser/AdminUser_manageRole.ascx" pagePath="@/newSkin/AdminUser/AdminUser_manageRole.aspx" />
      <file name="siteNodeRights" path="@/newSkin/Template/AdminUser/AdminUser_siteNodeRights.ascx" pagePath="@/newSkin/AdminUser/AdminUser_siteNodeRights.aspx" />
      <file name="manageRoleRight" path="@/newSkin/Template/AdminUser/AdminUser_manageRoleRight.ascx" pagePath="@/newSkin/AdminUser/AdminUser_manageRoleRight.aspx" />
      <file name="ManagesiteNodeRights" path="@/newSkin/Template/AdminUser/AdminUser_ManagesiteNodeRights.ascx" pagePath="@/newSkin/AdminUser/AdminUser_ManagesiteNodeRights.aspx" />
      <file name="permis" path="@/newSkin/Template/AdminUser/AdminUser_permis.ascx" pagePath="@/newSkin/AdminUser/AdminUser_permis.aspx" />
      <file name="permis" path="@/newSkin/Template/AdminUser/AdminUser_createRole.ascx" pagePath="@/newSkin/AdminUser/AdminUser_createRole.aspx" />
      <!--会员管理-->
      <file name="addUser" path="@/newSkin/Template/User/User_addUser.ascx" pagePath="@/newSkin/User/User_addUser.aspx" />
      <file name="manageUser" path="@/newSkin/Template/User/User_manageUser.ascx" pagePath="@/newSkin/User/User_manageUser.aspx" />
      <file name="manageUserGroups" path="@/newSkin/Template/User/User_manageUserGroups.ascx" pagePath="@/newSkin/User/User_manageUserGroups.aspx" />
      <!--配置管理-->
      <file name="configSystem" path="@/newSkin/Template/Config/Config_System.ascx" pagePath="@/newSkin/Config/Config_System.aspx" />
      <file name="ConfigEmail" path="@/newSkin/Template/Config/Config_Email.ascx" pagePath="@/newSkin/Config/Config_Email.aspx" />
      <file name="ConfigLicense" path="@/newSkin/Template/Config/Config_License.ascx" pagePath="@/newSkin/Config/Config_License.aspx" />
	  <file name="manageBlackList" path="@/newSkin/Template/Config/Config_manageBlackList.ascx" pagePath="@/newSkin/Config/Config_manageBlackList.aspx" />
      <file name="manageWhiteList" path="@/newSkin/Template/Config/Config_manageWhiteList.ascx" pagePath="@/newSkin/Config/Config_manageWhiteList.aspx" />
      <file name="ConfigSystemAction" path="@/newSkin/Template/Config/Config_SystemAction.ascx" pagePath="@/newSkin/Config/Config_SystemAction.aspx" />
      <file name="ConfigUser" path="@/newSkin/Template/Config/Config_User.ascx" pagePath="@/newSkin/Config/Config_User.aspx" />
	  <file name="ConfigSetLicense" path="@/newSkin/Template/Config/Config_SetLicense.ascx" pagePath="@/newSkin/Config/Config_SetLicense.aspx" />
	  
      <file name="ConfigSite" path="@/newSkin/Template/Config/Config_Site.ascx" pagePath="@/newSkin/Config/Config_Site.aspx" />
      <file name="ConfigUpload" path="@/newSkin/Template/Config/Config_Upload.ascx" pagePath="@/newSkin/Config/Config_Upload.aspx" />
      <file name="ConfigGB" path="@/newSkin/Template/Config/Config_GB.ascx" pagePath="@/newSkin/Config/Config_GB.aspx" />
      <file name="ConfigPicWater" path="@/newSkin/Template/Config/Config_PicWater.ascx" pagePath="@/newSkin/Config/Config_PicWater.aspx" />
      <file name="ConfigCreate" path="@/newSkin/Template/Config/Config_Create.ascx" pagePath="@/newSkin/Config/Config_Create.aspx" />
	  <file name="ConfigSiteAction" path="@/newSkin/Template/Config/Config_SiteAction.ascx" pagePath="@/newSkin/Config/Config_SiteAction.aspx" />
	  
      <file name="ConfigContent" path="@/newSkin/Template/Config/Config_Content.ascx" pagePath="@/newSkin/Config/Config_Content.aspx" />
	   <file name="ConfigContentFrame" path="@/newSkin/Template/Config/Config_ContentFrame.ascx" pagePath="@/newSkin/Config/Config_ContentFrame.aspx" />
      <file name="ConfigComments" path="@/newSkin/Template/Config/Config_Comments.ascx" pagePath="@/newSkin/Config/Config_Comments.aspx" />
	   <file name="configCommentsFrame" path="@/newSkin/Template/Config/Config_CommentsFrame.ascx" pagePath="@/newSkin/Config/Config_CommentsFrame.aspx" />
      <file name="ConfigCreateChannel" path="@/newSkin/Template/Config/Config_CreateChannel.ascx" pagePath="@/newSkin/Config/Config_CreateChannel.aspx" />
	  <file name="CreateChannelFrame" path="@/newSkin/Template/Config/Config_CreateChannelFrame.ascx" pagePath="@/newSkin/Config/Config_CreateChannelFrame.aspx" />
      <file name="ConfigReceived" path="@/newSkin/Template/Config/Config_Received.ascx" pagePath="@/newSkin/Config/Config_Received.aspx" />
	  <file name="configReceivedFrame" path="@/newSkin/Template/Config/Config_ReceivedFrame.ascx" pagePath="@/newSkin/Config/Config_ReceivedFrame.aspx" />
	  <file name="ConfigCRight" path="@/newSkin/Template/Config/Config_CRight.ascx" pagePath="@/newSkin/Config/Config_CRight.aspx" />
	  <file name="configVisitFrame" path="@/newSkin/Template/Config/Config_VisitFrame.ascx" pagePath="@/newSkin/Config/Config_VisitFrame.aspx" />
      <file name="ConfigChannelAction" path="@/newSkin/Template/Config/Config_ChannelAction.ascx" pagePath="@/newSkin/Config/Config_ChannelAction.aspx" />
      <!--生成管理,功能-->
      <file name="CreateAction" path="@/newSkin/Template/Function/Function_CreateAction.ascx" pagePath="@/newSkin/Function/Function_CreateAction.aspx" />
      <file name="createColumns" path="@/newSkin/Template/Function/Function_createColumns.ascx" pagePath="@/newSkin/Function/Function_createColumns.aspx" />
      <file name="createContent" path="@/newSkin/Template/Function/Function_createContent.ascx" pagePath="@/newSkin/Function/Function_createContent.aspx" />
      <file name="createFiles" path="@/newSkin/Template/Function/Function_createFiles.ascx" pagePath="@/newSkin/Function/Function_createFiles.aspx" />
      <file name="createIndex" path="@/newSkin/Template/Function/Function_createIndex.ascx" pagePath="@/newSkin/Function/Function_createIndex.aspx" />
      <!--其它-->
      <file name="addLink" path="@/newSkin/Template/Other/Other_addLink.ascx" pagePath="@/newSkin/Other/Other_addLink.aspx" />
      <file name="manageComments" path="@/newSkin/Template/Other/Other_manageComments.ascx" pagePath="@/newSkin/Other/Other_manageComments.aspx" />
      <file name="manageFiles" path="@/newSkin/Template/Other/Other_manageFiles.ascx" pagePath="@/newSkin/Other/Other_manageFiles.aspx" />
      <file name="manageGB" path="@/newSkin/Template/Other/Other_manageGB.ascx" pagePath="@/newSkin/Other/Other_manageGB.aspx" />
      <file name="manageLinks" path="@/newSkin/Template/Other/Other_manageLinks.ascx" pagePath="@/newSkin/Other/Other_manageLinks.aspx" />
      <!--安装-->
    </template>
  </templates>
</site>