<?xml version="1.0" encoding="utf-8"?>
<!--指定数据库连接字符串（名称/值对的形式）的集合。-->
<connectionStrings>
  <add name="sqlserver" connectionString="server=(local);database=SiteFactory;uid=PowerEasy;pwd=PowerEasy*9988"
    providerName="System.Data.SqlClient"/>
  <add name="access" connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=~\GlobalFiles\Data\SNdata.mdb"
    providerName="System.Data.OleDb"/>
  <add name="mysql" connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=F:\singnoCMS\web\GlobalFiles\data\SNdata.mdb"
    providerName="System.Data.OleDb"/>
  <add name="oracle" connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=F:\singnoCMS\web\GlobalFiles\data\SNdata.mdb"
    providerName="System.Data.OleDb"/>
  <add name="firebird" connectionString="User=WANGJIAN;Password=WANGJIAN;clientlibrary=~\bin\firebird\fbembed.dll;Database=~\DATA.ascx;Pooling=true; MinPoolSize=0;MaxPoolSize=100;ServerType=1;"
   providerName="FirebirdSql.Data.FirebirdClient"/>
</connectionStrings>