<?xml version="1.0" encoding="utf-8"?>
<configuration>
<system baseCode="1000" name="系统管理">
	<item type="systemConfig" name="系统配置" baseCode="1000">
		<action type="baseConfig" name="系统基本配置"  code="1001"/>
		<action type="runConfig" name="系统运行配置" code="1002"/>
		<action type="mailConfig" name="系统邮件配置" code="1003"/>
		<action type="smsConfig" name="手机短信设置" code="1004"/>
		<action type="pluginManage" name="系统插件管理" code="1005"/>
		<action type="licenseManage" name="系统许可管理" code="1006"/>
		<action type="backgroupAccessManage" name="系统后台访问管理" code="1007"/>
		<!--系统后台访问限制  站点为零针对所有站点，不为零针对相应站点 站点不设置默认以系统为主-->
		<action type="sendSMS"  name="发送手机短信" code="1008"/>
	</item>
	<item type="siteManage" name="站点管理" baseCode="1050">
		<action type="add"  name="添加站点" code="1051"/>
		<action type="modify"  name="修改站点" code="1052"/>
		<action type="delete"  name="删除站点" code="1053"/>
		<action type="move"  name="转移站点" code="1054"/>
		<action type="sort"  name="站点排序" code="1055"/>
	</item>
	<item type="dataModelManage" name="数据模型管理" baseCode="1100">
		<action type="add"  name="添加模型" code="1101"/>
		<action type="modify"  name="修改模型" code="1102"/>
		<action type="delete"  name="删除模型" code="1103"/>
		<action type="addField"  name="添加模型字段" code="1104"/>
		<action type="modifyField"  name="修改模型字段" code="1105"/>
		<action type="deleteField"  name="删除模型字段" code="1106"/>
		<action type="modifyFieldstyle"  name="修改字段样式" code="1107"/>
	</item>
	<item type="systemAdminManage" name="系统管理员管理" baseCode="1150">
		<action type="addRole"  name="添加管理员角色" code="1151"/>
		<action type="modifyRole"  name="修改管理员角色" code="1152"/>
		<action type="deleteRole"  name="删除管理员角色" code="1153"/>
		<action type="addAdmin"  name="添加管理员" code="1154"/>
		<action type="modifyAdmin" name="管理员权限设置"  code="1155"/>
		<action type="modifyAdminPassWord"  name="重设管理员密码"  code="1156"/>
		<action type="deleteAdmin"  name="删除管理员" code="1157"/>
	</item>
	<item type="contentTagsManage" name="内容标签管理" baseCode="1200">
		<action type="add"  name="添加内容标签" code="1201"/>
		<action type="modify"  name="修改内容标签" code="1202"/>
		<action type="delete"  name="删除内容标签" code="1203"/>
		<action type="setStyle"  name="设置内容标签样式" code="1204"/>
	</item>
	<item type="UserManage" name="会员管理" baseCode="1250">
		<action type="view"  name="查看会员" code="1251"/>
		<action type="add"  name="添加会员" code="1252"/>
		<action type="modify"  name="修改会员信息" code="1253"/>
		<action type="delete"  name="删除会员" code="1254"/>
		<action type="lock"  name="锁定会员" code="1255"/>
		<action type="unlock"  name="解除会员锁定" code="1256"/>
		<action type="check"  name="审核新会员" code="1257"/>
		<action type="sendMails"  name="会员邮件群发" code="1258"/>
		<action type="addGroup"  name="添加会员组" code="1259"/>
		<action type="modifyGroup"  name="修改会员组" code="1260"/>
		<action type="deleteGroup"  name="删除会员组" code="1261" />
		<action type="addSpecialGroup"  name="添加特殊会员组" code="1262"/>
		<action type="modifySpecialGroup"  name="修改特殊会员组" code="1263"/>
		<action type="deleteSpecialGroup"  name="删除特殊会员组" code="1264"/>
		<action type="userModelManage"  name="会员模型管理" code="1265" />
	</item>
	<item type="UserCenterConfig" name="会员中心设置" baseCode="1300">
		<action type="userRegister"  name="用户注册设置" code="1301"/>
		<action type="userPoints"  name="用户积分设置" code="1302"/>
		<action type="userPage"  name="用户中心界面设置" code="1303"/>
		<action type="userPage"  name="用户中心界面设置" code="1304"/>
		<action type="userUpdate"  name="用户上传文件设置" code="1305"/>
		<action type="imageWatermark"  name="图片水印设置" code="1306"/>
		<action type="imageWatermark"  name="第三方用户集成" code="1307"/>
	</item>
	<item type="日志管理" baseCode="1350">
		<action type="view" name="查看系统日志" code="1351"/>
		<action type="delete" name="删除系统日志" code="1352"/>
	</item>
</system>
<site baseCode="2000"  name="站点管理">
	<item type="siteConfig" name="站点配置" baseCode="2000">
		<action type="baseConfig"  name="站点基本配置" code="2001"/>
		<action type="mailConfig" name="站点邮件配置" code="2002"/>
		<action type="uploadConfig" name="上传文件配置" code="2003"/>
		<action type="watermarkConfig" name="图片水印配置" code="2004"/>
		<action type="moveConfig" name="站点内容转发配置" code="2005"/>
		<action type="runConfig" name="站点运行配置" code="2006"/>
		<action type="mailConfig" name="站点留言配置" code="2007"/>
		<action type="createConfig" name="站点生成配置" code="2008"/>
		<action type="registerConfig" name="会员注册配置" code="2009"/>
		<action type="userConfig" name="会员配置" code="2010"/>
		<action type="backgroupAccessConfig" name="站点后台访问管理" code="2011"/>
		<action type="powerby" name="站点power by设置" code="2012"/>
	</item>
	<item type="channelManage" name="站点栏目管理" baseCode="2050">
		<action type="add" name="添加栏目" code="2051"/>
		<action type="modify" name="修改栏目" code="2052"/>
		<action type="move" name="转移栏目" code="2053"/>
		<action type="recycle" name="栏目移至回收站" code="2054"/>
		<action type="sort" name="栏目排序" code="2055"/>
		<action type="restore" name="还原回收站栏目" code="2056"/>
		<action type="delete" name="删除回收站栏目" code="2057"/>
	</item>
	<item type="channalGroupManage" name="栏目组管理" baseCode="2100">
		<action type="add" name="添加栏目组" code="2101"/>
		<action type="modify" name="修改栏目组" code="2102"/>
		<action type="delete" name="删除栏目组" code="2103"/>
		<action type="sort" name="栏目组栏目排序" code="2104"/>
	</item>
	<item type="templateManage" name="模板管理" baseCode="2150">
		<action type="add" name="添加模板" code="2151"/>
		<action type="modify" name="修改模板" code="2152"/>
		<action type="delete" name="删除模板" code="2153"/>
		<action type="copy" name="复制模板" code="2154"/>
		<action type="default" name="设为默认模板" code="2155"/>
		<action type="addLabel" name="添加模板标签" code="2156"/>
		<action type="modifyLabel" name="修改模板标签" code="2157"/>
		<action type="deleteLabel" name="删除模板标签" code="2158"/>
		<action type="match" name="修改模板匹配" code="2159"/>
		<action type="pageRule" name="修改栏目页,内容页生成路径" code="2200"/>
		<action type="addProject" name="添加模板方案" code="2201"/>
		<action type="modifyProject" name="修改模板方案" code="2202"/>
		<action type="deleteProject" name="删除模板方案" code="2203"/>
	</item>
	<item type="createManage" name="站点生成管理" baseCode="2250">
		<action type="Index" name="生成首页" code="2251"/>
		<action type="single" name="生成单页" code="2252"/>
	</item>
	<item type="otherManage" name="其它管理" baseCode="2300">
		<action type="firendLink" name="友情链接管理" code="2301"/>
		<action type="guestBook" name="留言管理" code="2302"/>
		<action type="ad" name="广告管理" code="2303"/>
		<action type="file" name="站点文件管理" code="2304"/>
	</item>
</site>

<channel name="栏目管理" baseCode="3000">
	<item type="channelConfig" name="栏目配置" baseCode="3000">
		<action type="baseConfig" name="栏目基本配置" code="3001"/>
		<action type="userFieldConfig" name="栏目自定义字段配置" code="3002"/>
		<action type="contentConfig" name="栏目内容管理配置" code="3003"/>
		<action type="commentConfig" name="栏目评论配置" code="3004"/>
		<action type="contentCommentConfig" name="内容评论权限设置" code="3005"/>
		<action type="submitConfig" name="栏目投稿配置" code="3008"/>
	</item>
	<item type="contentManage" name="栏目内容管理" baseCode="3050">
		<action type="view" name="浏览内容" code="3051"/>
		<action type="add" name="添加内容" code="3052"/>
		<action type="modify" name="修改内容" code="3053"/>
		<action type="recycle" name="内容移至回收站" code="3054"/>
		<action type="move" name="转移内容" code="3055"/>
		<action type="check" name="审核内容 " code="3056"/>
		<action type="restore" name="还原回收站内容" code="3057"/>
		<action type="delete" name="删除回收内容" code="3058"/>
	</item>


	<item type="commentManage" name="内容评论管理" baseCode="3100">
		<action type="check" name="审核内容评论" code="3101"/>
		<action type="delete" name="删除内容评论" code="3102"/>
	</item>

	<item type="createManage" name="页面生成管理" baseCode="3150">
		<action type="channel" name="生成栏目页" code="3151"/>
		<action type="content" name="生成内容页" code="3152"/>
	</item>
</channel>
<others name="其它管理" baseCode="10000">
</others>
<pulgins  name="系统插件管理" baseCode="100000">
</pulgins>
</configuration>