<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="Installer" value="True" />
    <add key="SingleCacheCount" value="50" />
    <!--单个栏目缓存项的数量-->
  </appSettings>
  <AccessConfig type="None">
    <!--后台访问配置
	type:启用什么名单
	-->
    <White>
    </White>
    <Black>
    </Black>
  </AccessConfig>
  <UserCenterConfig>
    <!--会员中心管理-->
  </UserCenterConfig>
  <LicenseConfig>
    <!--系统许可管理-->
  </LicenseConfig>
  <MailConfig>
    <!--系统邮件配置-->
  </MailConfig>
  <SMSConfig>
    <!--手机短信设置-->
  </SMSConfig>
  <CAPTCHAConfig>
    <!--LowerLetter:小写字母,UpperLetter:大写字母,Letter:混合大小写字母,Digital:数字,All:混合数字与大小字母-->
    <StringMode>All</StringMode>
    <Length>4</Length>
    <!--默认为白色,White,Blue ,Red,Black,Brown ,Cyan ,Gold Gray ,Green Yellow -->
    <BackgroundColor>White</BackgroundColor>
    <FontColor>Red</FontColor>
    <FontSize>16</FontSize>
    <!--验证码设置-->
  </CAPTCHAConfig>
</configuration>