
html {overflow-x:hidden;_overflow-y:auto; }

input.X_input_text{ width:200px}

/*------configUpload------*/
#filesType{ margin:-10px 0 0 0}
#filesType .title{ padding:0 0 10px 0; margin:0 5px}
#classTab{ border-left:5px solid #fff;border-right:5px solid #fff; width:auto}
#classContent{padding:10px; margin:5px; width:100%;}
#filesType .grayBg{border-top:1px solid #64A8E1; margin:10px 5px}

.uploadExtName li{ width:100px; height:25px; line-height:25px; float:left}

.fileSize{ margin:10px 0 0 0; border-top:1px dotted #ccc; padding:10px 0 0 0; width:98%; height:auto}
.fileSize .fl{ width:100px; float:left; line-height:25px}
.fileSize .fr{ width:300px; float:left}

/*---configSite---*/
#checkLevelDiv{ margin:0 0 0 10px}

/*----configCreate---*/
#extName{ margin:2px 10px 0 0;}
#myExtName{ width:98px}

/*-----permit----*/
#permit{ margin:5px; border:1px solid #64A8E1}
#permit .title{ height:30px; line-height:30px; background:url(../Images/table_bg.png); padding:0 10px;border-bottom:1px solid #64A8E1}
#permit .content{ padding:10px; line-height:180%; _height:160px; _overflow:visible}
#permit .content ul{ margin:0 0 10px 0; list-style:none}
#permit .content li{ border-top:1px solid #eee; border-bottom:1px solid #eee; margin:-1px 0 0 0; padding:5px 10px}

/*-----*/
#classList{ width:400px; height:300px}

/*----configPic---*/
#isTextType{ border:0}
#isTextType table{ border:0; margin:-11px 0 0 0;}

#demoPic{ width:160px; height:120px; background:url(../Images/demoPic.jpg) no-repeat;}
#demoPic table{ width:160px; height:120px;}
#demoPic table td{ border:0; text-align:center; font-weight:bold; font-size:14px; font-family:Tahoma, Geneva, sans-serif}
